@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar-thumb{
    background-color: #888;
    height: 30px;
    width: 30px;
} */

*{
    scrollbar-width: thin;
}

*::-webkit-scrollbar{
    height: 30px;
    width: 30px;
}